.word-stat {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 3px;
    width: 500px;
    height: 55px;
    padding: 0px 5px;
    overflow: hidden;
    flex-shrink: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    
}

.word-stat h2 {
    color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    width: 115px;
    height: auto;
    margin: auto;
    font-size: 20px;
    font-style: Regular;
    text-align: center;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}

.word-stat__translation {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5px;
    margin: auto;
    align-items: center;
    width: 130px;
    height: 45px;
}

.word-stat__example {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5px;
    margin: auto;
    align-items: center;
    width: 150px;
    height: 45px;
}