body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', Inter;
    ;
    display: block;
    box-sizing: border-box;
    width: 502px;
    height: 560px;
    align-items: center;
    margin: 0px;
    /*gap: 21px;
    position: absolute;*/
    /*background-image: url('../images/background.svg');*/

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
